@import './variables';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: $base-foreground;
}

body {
  padding: 3em 5em;
  box-sizing: border-box;
  font-size: 16px;
  background-color: $base-foreground;

  h1 {
    margin: 0px;
  }
}

#App {
  padding-top: 2em;
}

.react-icons {
  vertical-align: middle;
}
